<div class="row">
    {{#if articles}} {{#each articles}}
    <div class="col-md-4">
        <div class="card mr-3 mb-3" style="width: 22rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <p class="card-text">{{this.excerpt}}</p>
                <a href="{{this.link}}" target="_blank" class="card-link">Read more…</a>

            </div>
            <div class="card-footer text-muted">
                <button type="button" class="btn btn-sm btn-outline-info" data-toggle="modal"
                    data-target="#noteModal">
                    Add Note
                </button>
            </div>
        </div>
    </div>

    {{/each}} {{else}}
    <div class="alert alert-info" role="alert">
        No articles found. <a href="/scrape" class="alert-link">Check for news?</a>
    </div>
    {{/if}}
</div>

<div class="modal fade" id="noteModal" tabindex="-1" role="dialog" aria-labelledby="noteModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="noteModalLabel">New note</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="note-title" class="col-form-label">Title:</label>
                        <input type="text" class="form-control" id="note-title">
                    </div>
                    <div class="form-group">
                        <label for="note-text" class="col-form-label">Note:</label>
                        <textarea class="form-control" id="note-text"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>